In [ ]:

# 001 print 기초
# 화면에 Hello World 문자열을 출력하세요.
print("hello world")

In [ ]:

# 002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetices")

In [ ]:
# 003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

# 신씨가 소리질렀다. "도둑이야".

print("신씨가 소리질렀다. \"도둑이야\".")

In [ ]:
# 004 print 기초
# 화면에 "C:\Windows"를 출력하세요.

print('"C:\windows"')

In [ ]:
# 005 print 탭과 줄바꿈
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

# print("안녕하세요.\n만나서\t\t반갑습니다.")

#\n 줄바꿈
#\t 탭
print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
# 006 print 여러 데이터 출력
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

# print ("오늘은", "일요일")


#여러 값을 출력하려면 print 함수에서 쉼표로 구분해주면 됩니다. 따라서 오늘은 다음에 공백이 하나 있고 일요일이 출력됩니다.
print ("오늘은", "일요일")

In [ ]:
# 007 print 기초 important
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver;kakao;sk;samsung

#print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다
print("naver", "kakao", "sk", "samsung", sep=";")

In [ ]:
# 008 print 기초 important
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver/kakao/sk/samsung


print("naver", "kakao", "samsung", sep="/")

In [ ]:
# 009 print 줄바꿈 important
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

# print("first");print("second")


print("first", end=""); print("second")

In [ ]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.

print(5/3)

In [ ]:
# 011 변수 사용하기 important
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung = 50000
stack = 10
total_gold = samsung * stack
print("{0:,}".format(total_gold)) #3자리수마다 끊어주기

In [ ]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩(타입을 알아보세요)해보세요.

# 항목	    값
# 시가총액	298조
# 현재가	50,000원
# PER	    15.79

total_money = 298000000000000
current_money = 5000
PER = 15.79
print(total_money, type(total_money))
print(current_money, type(current_money))
print(PER, type(PER))

In [ ]:
# 013 문자열 출력 important
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

s = "hello"
t = "python"

print(s+"!" , t) #더하기는 바로 붙여지고  ,는한칸 띄워 주며 붙여준다

In [ ]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3

In [ ]:
# 015 type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

# >> a = "132"

In [ ]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

# >> num_str = "720"

num_str = "720"
int(num_str)
print(type(num_str))

In [ ]:
# 017 정수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.

# num = 100

num = 100
num_str = str(num)
print(num_str, type(num_str))

In [ ]:
# 018 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num = "15.79"
num_float = (float(num))
print(num_float, type(num_float))

In [ ]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

# year = "2020"

year = "2020"
year_int = int(year)
print(year_int-1,year_int, year_int+1 )

In [ ]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_price = 48584
installment_month = 36
interest =  0

total_money = month_price * installment_month + interest
print(total_money)

In [ ]:
# 021 문자열 인덱싱
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

# >> letters = 'python'
# 실행 예
# p t

letters = 'python'
print(letters[0], letters[2])

In [ ]:
# 022 문자열 슬라이싱 
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

# >> license_plate = "24가 2210"
# 실행 예: 2210

license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 023 문자열 인덱싱 important
# 아래의 문자열에서 '홀' 만 출력하세요.

# >> string = "홀짝홀짝홀짝"
# 실행 예:
# 홀홀홀





# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

string = "홀짝홀짝홀짝"
print(string[::2]) #하나입력하고, 오프셋값만큼 띄운값 입력하고 [ 시작값: 엔딩값 : 오프셋값]

In [ ]:
# 024 문자열 슬라이싱 important
# 문자열을 거꾸로 뒤집어 출력하세요.

# >> string = "PYTHON"
# 실행 예:
# NOHTYP

string = "PYTHON"
print(string[::-1])

In [ ]:
# 025 문자열 치환 important
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

# >> phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222

# 파이썬 문자열에서 replace 메서드를 사용하면 문자열을 일부를 치환할 수 있습니다. 문자열은 수정할 수 없는 자료형이므로 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됩니다.
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

In [ ]:
# 026 문자열 다루기
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

# 실행 예
# 01011112222

phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

In [ ]:
# 027 문자열 다루기 important
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

# >> url = "http://sharebook.kr"
# 실행 예:
# kr


#내가생각한답안
url = "http://sharebook.kr"
url_del_dat = url[url.find(".")+1:]
print(url_del_dat)


#정답안


# 문자열로 표현된 url에서 .을 기준으로 분리합니다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.
url = "http://sharebook.kr"
url_split = url.split('.') #스플릿되면 리스트로 분리된다
print(url_split[-1])#리스트의 마지막 항목만을 출력한다

In [ ]:
# 028 문자열은 important
# 아래 코드의 실행 결과를 예상해보세요.

# >> lang = 'python'
# >> lang[0] = 'P'
# >> print(lang)

# 문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.
lang = 'python'
print(lang[0])
lang[0] = 'P'
print(lang)

In [ ]:
# 029 replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

# >> string = 'abcdfe2a354a32a'
# 실행 예:
# Abcdfe2A354A32A


string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

In [ ]:
# 030 replace 메서드 important
# 아래 코드의 실행 결과를 예상해보세요.


# >> string = 'abcd'
# >> string.replace('b', 'B')
# >> print(string)


#abcd가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.
string = 'abcd'
string.replace('b', 'B') #비파괴적인 변환이다
print(string)

In [ ]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.

# >> a = "3"
# >> b = "4"
# >> print(a + b)


a = "3"
b = "4"
print(a + b)

In [ ]:
# 032 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.

# >> print("Hi" * 3)

print("Hi" * 3)

In [ ]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.

# 실행 예:
# --------------------------------------------------------------------------------

print("-"*80)

In [ ]:
# 034 문자열 곱하기 important (아또 이생각은 못해봤네)
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

# >>> t1 = 'python'
# >>> t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java


t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

In [ ]:
# 035 문자열 출력 important (포맷팅에는 %포맷팅 방법도 있구만)
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

# name1 = "김민수" 
# age1 = 10
# name2 = "이철희"
# age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13


name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {0} 나이: {1}".format(name1,age1))



# print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미합니다.
print("이름: %s 나이: %d" % (name1, age1))

In [ ]:
# 036 문자열 출력 (아내가 푼방법이 이거였구만...)
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {0} 나이: {1}".format(name1,age1))

In [ ]:
# 037 문자열 출력  important (아이거는 포맷팅 축약해서 쓰는방법이구만...)
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13


# f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 {변수}와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.
print(f"이름: {name1} 나이: {age1}")

In [ ]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

# 상장주식수 = "5,969,782,550"

listed_stocks_count = "5,969,782,550"
listed_stocks_count_dat_del = listed_stocks_count.replace(",","")
print(int(listed_stocks_count_dat_del))

In [ ]:
# 039 문자열 슬라이싱   (여러 방법이 있구만....)
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

# 분기 = "2020/03(E) (IFRS연결)"

quarter = "2020/03(E) (IFRS연결)"
quarter_chang = quarter.split("(")
print(quarter_chang[0])


# 문자열에서 슬라이싱을 사용하면 여러 글자를 접근할 수 있습니다.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

In [ ]:
# 040 strip 메서드 important (몰랏던 새로운 방법이구만;;)
# 문자열의 좌우의 
# 이 있을 때 이를 제거해보세요.

# data = "   삼성전자    "



# 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.
data = "   삼성전자    "
print(data.strip(" "))

In [ ]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

# ticker = "btc_krw"

ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

# ticker = "BTC_KRW"

ticker = "btc_krw"
print(ticker.lower())

In [ ]:
# 043 capitalize 메서드 important (첨본다...)
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
print(a.capitalize()) #문자열의 첫글자를 대문자로 해준다

In [ ]:
# 044 endswith 메서드  important (첨본다...)
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

# file_name = "보고서.xlsx"


file_name = "보고서.xlsx"
file_name.endswith("xlsx") #변수의 마지막 이름이 " 키값 " 키값인지 확인함 불값으로 나온다

In [ ]:
# 045 endswith 메서드 important (첨본다...)
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

# file_name = "보고서.xlsx"


file_name = "보고서.xls"
file_name.endswith(("xlsx", "xls")) #괄호로 꼭묶어 줘야한다

In [ ]:
# 046 startswith 메서드 important (첨본다...)
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

# file_name = "2020_보고서.xlsx"


file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

# a = "hello world"

a = "hello world"
b = a.split(" ")
print(b)

In [ ]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

# ticker = "btc_krw"

ticker = "btc_krw"
print(ticker.split("_"))

In [ ]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

# date = "2020-05-01"

date = "2020-05-01"
date2 = date.split("-")
print("연:" , date2[0] )
print("월:" , date2[1] )
print("일:" , date2[2] )

In [ ]:
# 050 rstrip 메서드 important (strip의 다양한 공백제거)
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

# data = "039490     "

data = "    039490     "
print(data.strip()) #스트립은전체공백을 없애준다


print(data.rstrip()) #리스트립은 오른쪽만 공백을 없애준다


print(data.lstrip()) #리스트립은 왼쪽만 공백을 없애준다

In [ ]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
print(movie_rank)

In [ ]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

In [ ]:
# 053           important
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

# movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

In [ ]:
# 054           important(del 이라는 방법도 있구만)
# movie_rank 리스트에서 '럭키'를 삭제하라.

# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']


movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop(3)
print(movie_rank)


movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

In [ ]:
# 055            important(del 이라는 방법도 있구만)
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']


# del을 이용하여 리스트에서 원소를 삭제할 수 있습니다. 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. (인덱싱 번호가 당겨진다는 의미)
# 따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]

print(movie_rank)

In [ ]:
# 056               important(리스트를 더하면 되는구나)
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

# >> lang1 = ["C", "C++", "JAVA"]
# >> lang2 = ["Python", "Go", "C#"]
# 실행 예:
# >> langs
# ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

In [ ]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

# nums = [1, 2, 3, 4, 5, 6, 7]
# 실행 예:
# max:  7
# min:  1

nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

In [ ]:
# 058           important(sum도 사용가능하구만 )
# 다음 리스트의 합을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 15


nums = [1, 2, 3, 4, 5]
print(sum(nums))

In [ ]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

# cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
# 060              important(sum은 있지만, 에버러지라는 함수는 없다 )
# 다음 리스트의 평균을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 3.0

nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

In [ ]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

# price = ['20180728', 100, 130, 140, 150, 160, 170]
# 출력 예시:
# [100, 130, 140, 150, 160, 170]

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [1, 3, 5, 7, 9]


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [2, 4, 6, 8, 10]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])


interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

In [ ]:
# 066 join 메서드            important(join은 리스트의 값과 값사이를 연결해서 하나의 문자열로 해주는구나 )
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우


# '구분자'.join(리스트)를 이용하면 리스트의 값과 값 사이에 '구분자'에 들어온 구분자를 넣어서 하나의 문자열로 합쳐줍니다.
# '_'.join(['a', 'b', 'c']) 라 하면 "a_b_c" 와 같은 형태로 문자열을 만들어서 반환해 줍니다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

In [ ]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

In [ ]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

In [ ]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

# string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.

# 실행 예시
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']


string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
# 070 리스트 정렬        important(sort는 오름차순정렬 reverse는 내림차순 정렬이다)
# 리스트에 있는 값을 오름차순으로 정렬하세요.

# data = [2, 4, 3, 1, 5, 10, 9]


# data = [2, 4, 3, 1, 5, 10, 9] #이렇게하면 안되더라 뭔지모르겠음
# print(data.sort())

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

In [ ]:
# 071           important(() = 튜플, [] = 리스트, {} = 딕셔너리)
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable =()

In [ ]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ("닥터스트레인지","스플릿","럭키")
print(movie_rank)

In [ ]:
# 073           important
# 숫자 1 이 저장된 튜플을 생성하라.


# 아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.
my_tuple = (1)
print(type (my_tuple))
 

# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.
my_tuple = (1, )
print(my_tuple)

In [ ]:
# 074            important
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

# >> t = (1, 2, 3)
# >> t[0] = 'a'
# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment



#tuple은 원소(element)의 값을 변경할 수 없습니다.
t = (1, 2, 3)
t[0] = 'a'

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

# t = 1, 2, 3, 4


#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.
t = 1, 2, 3, 4
print(type(t))

In [ ]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

# 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

t = ('A', 'b', 'c')

In [ ]:
# 077
# 다음 튜플을 리스트로 변환하라.

# interest = ('삼성전자', 'LG전자', 'SK Hynix')

interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)

print(interest_list)

In [ ]:
# 078
# 다음 리스트를 튜플로 변경하라.

# interest = ['삼성전자', 'LG전자', 'SK Hynix']

interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = tuple(interest)

print(interest_list)

In [ ]:
# 079 튜플 언팩킹           important
# 다음 코드의 실행 결과를 예상하라.

# temp = ('apple', 'banana', 'cake')
# a, b, c = temp
# print(a, b, c)


temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

In [3]:
# 080 range 함수            important
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)

count1000 = range(2,100,2) #이렇게하면튜플이 안되더라 음모오...
print(count1000)


count100 = tuple(range(2,100,2)) # 2이상 100미만의 범위에서 2의 스탭으로 생성
print(count100)

range(2, 100, 2)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [4]:
# 081 별 표현식             important
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다.
#  튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

# >> a, b, *c = (0, 1, 2, 3, 4, 5)
# >> a
# 0
# >> b
# 1
# >> c
# [2, 3, 4, 5]



# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

# scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score,_,_, = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]