In [ ]:

# 001 print 기초
# 화면에 Hello World 문자열을 출력하세요.
print("hello world")

In [ ]:

# 002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetices")

In [ ]:
# 003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

# 신씨가 소리질렀다. "도둑이야".

print("신씨가 소리질렀다. \"도둑이야\".")

In [ ]:
# 004 print 기초
# 화면에 "C:\Windows"를 출력하세요.

print('"C:\windows"')

In [ ]:
# 005 print 탭과 줄바꿈
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

# print("안녕하세요.\n만나서\t\t반갑습니다.")

#\n 줄바꿈
#\t 탭
print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
# 006 print 여러 데이터 출력
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

# print ("오늘은", "일요일")


#여러 값을 출력하려면 print 함수에서 쉼표로 구분해주면 됩니다. 따라서 오늘은 다음에 공백이 하나 있고 일요일이 출력됩니다.
print ("오늘은", "일요일")

In [ ]:
# 007 print 기초 important
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver;kakao;sk;samsung

#print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다
print("naver", "kakao", "sk", "samsung", sep=";")

In [ ]:
# 008 print 기초 important
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver/kakao/sk/samsung


print("naver", "kakao", "samsung", sep="/")

In [ ]:
# 009 print 줄바꿈 important
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

# print("first");print("second")


print("first", end=""); print("second")

In [ ]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.

print(5/3)

In [ ]:
# 011 변수 사용하기 important
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

samsung = 50000
stack = 10
total_gold = samsung * stack
print("{0:,}".format(total_gold)) #3자리수마다 끊어주기

In [ ]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩(타입을 알아보세요)해보세요.

# 항목	    값
# 시가총액	298조
# 현재가	50,000원
# PER	    15.79

total_money = 298000000000000
current_money = 5000
PER = 15.79
print(total_money, type(total_money))
print(current_money, type(current_money))
print(PER, type(PER))

In [ ]:
# 013 문자열 출력 important
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

s = "hello"
t = "python"

print(s+"!" , t) #더하기는 바로 붙여지고  ,는한칸 띄워 주며 붙여준다

In [ ]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3

In [ ]:
# 015 type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

# >> a = "132"

In [ ]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

# >> num_str = "720"

num_str = "720"
int(num_str)
print(type(num_str))

In [ ]:
# 017 정수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.

# num = 100

num = 100
num_str = str(num)
print(num_str, type(num_str))

In [ ]:
# 018 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

num = "15.79"
num_float = (float(num))
print(num_float, type(num_float))

In [ ]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

# year = "2020"

year = "2020"
year_int = int(year)
print(year_int-1,year_int, year_int+1 )

In [ ]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

month_price = 48584
installment_month = 36
interest =  0

total_money = month_price * installment_month + interest
print(total_money)

In [ ]:
# 021 문자열 인덱싱
# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

# >> letters = 'python'
# 실행 예
# p t

letters = 'python'
print(letters[0], letters[2])

In [ ]:
# 022 문자열 슬라이싱 
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

# >> license_plate = "24가 2210"
# 실행 예: 2210

license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 023 문자열 인덱싱 important
# 아래의 문자열에서 '홀' 만 출력하세요.

# >> string = "홀짝홀짝홀짝"
# 실행 예:
# 홀홀홀





# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

string = "홀짝홀짝홀짝"
print(string[::2]) #하나입력하고, 오프셋값만큼 띄운값 입력하고 [ 시작값: 엔딩값 : 오프셋값]

In [ ]:
# 024 문자열 슬라이싱 important
# 문자열을 거꾸로 뒤집어 출력하세요.

# >> string = "PYTHON"
# 실행 예:
# NOHTYP

string = "PYTHON"
print(string[::-1])

In [ ]:
# 025 문자열 치환 important
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

# >> phone_number = "010-1111-2222"
# 실행 예
# 010 1111 2222

# 파이썬 문자열에서 replace 메서드를 사용하면 문자열을 일부를 치환할 수 있습니다. 문자열은 수정할 수 없는 자료형이므로 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됩니다.
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

In [ ]:
# 026 문자열 다루기
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

# 실행 예
# 01011112222

phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

In [ ]:
# 027 문자열 다루기 important
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

# >> url = "http://sharebook.kr"
# 실행 예:
# kr


#내가생각한답안
url = "http://sharebook.kr"
url_del_dat = url[url.find(".")+1:]
print(url_del_dat)


#정답안


# 문자열로 표현된 url에서 .을 기준으로 분리합니다. 분리된 url 중 마지막을 인덱싱하면 도메인만 출력할 수 있습니다.
url = "http://sharebook.kr"
url_split = url.split('.') #스플릿되면 리스트로 분리된다
print(url_split[-1])#리스트의 마지막 항목만을 출력한다

In [ ]:
# 028 문자열은 important
# 아래 코드의 실행 결과를 예상해보세요.

# >> lang = 'python'
# >> lang[0] = 'P'
# >> print(lang)

# 문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.
lang = 'python'
print(lang[0])
lang[0] = 'P'
print(lang)

In [ ]:
# 029 replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

# >> string = 'abcdfe2a354a32a'
# 실행 예:
# Abcdfe2A354A32A


string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

In [ ]:
# 030 replace 메서드 important
# 아래 코드의 실행 결과를 예상해보세요.


# >> string = 'abcd'
# >> string.replace('b', 'B')
# >> print(string)


#abcd가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.
string = 'abcd'
string.replace('b', 'B') #비파괴적인 변환이다
print(string)

In [ ]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.

# >> a = "3"
# >> b = "4"
# >> print(a + b)


a = "3"
b = "4"
print(a + b)

In [ ]:
# 032 문자열 곱하기
# 아래 코드의 실행 결과를 예상해보세요.

# >> print("Hi" * 3)

print("Hi" * 3)

In [ ]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.

# 실행 예:
# --------------------------------------------------------------------------------

print("-"*80)

In [ ]:
# 034 문자열 곱하기 important (아또 이생각은 못해봤네)
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

# >>> t1 = 'python'
# >>> t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

# 실행 예:
# python java python java python java python java


t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

In [ ]:
# 035 문자열 출력 important (포맷팅에는 %포맷팅 방법도 있구만)
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

# name1 = "김민수" 
# age1 = 10
# name2 = "이철희"
# age2 = 13
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13


name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {0} 나이: {1}".format(name1,age1))



# print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미합니다.
print("이름: %s 나이: %d" % (name1, age1))

In [ ]:
# 036 문자열 출력 (아내가 푼방법이 이거였구만...)
# 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {0} 나이: {1}".format(name1,age1))

In [ ]:
# 037 문자열 출력  important (아이거는 포맷팅 축약해서 쓰는방법이구만...)
# 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13


# f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 {변수}와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.
print(f"이름: {name1} 나이: {age1}")

In [ ]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

# 상장주식수 = "5,969,782,550"

listed_stocks_count = "5,969,782,550"
listed_stocks_count_dat_del = listed_stocks_count.replace(",","")
print(int(listed_stocks_count_dat_del))

In [ ]:
# 039 문자열 슬라이싱   (여러 방법이 있구만....)
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.

# 분기 = "2020/03(E) (IFRS연결)"

quarter = "2020/03(E) (IFRS연결)"
quarter_chang = quarter.split("(")
print(quarter_chang[0])


# 문자열에서 슬라이싱을 사용하면 여러 글자를 접근할 수 있습니다.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

In [ ]:
# 040 strip 메서드 important (몰랏던 새로운 방법이구만;;)
# 문자열의 좌우의 
# 이 있을 때 이를 제거해보세요.

# data = "   삼성전자    "



# 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.
data = "   삼성전자    "
print(data.strip(" "))

In [ ]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

# ticker = "btc_krw"

ticker = "btc_krw"
print(ticker.upper())

In [ ]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

# ticker = "BTC_KRW"

ticker = "btc_krw"
print(ticker.lower())

In [ ]:
# 043 capitalize 메서드 important (첨본다...)
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
print(a.capitalize()) #문자열의 첫글자를 대문자로 해준다

In [ ]:
# 044 endswith 메서드  important (첨본다...)
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

# file_name = "보고서.xlsx"


file_name = "보고서.xlsx"
file_name.endswith("xlsx") #변수의 마지막 이름이 " 키값 " 키값인지 확인함 불값으로 나온다

In [ ]:
# 045 endswith 메서드 important (첨본다...)
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

# file_name = "보고서.xlsx"


file_name = "보고서.xls"
file_name.endswith(("xlsx", "xls")) #괄호로 꼭묶어 줘야한다

In [ ]:
# 046 startswith 메서드 important (첨본다...)
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

# file_name = "2020_보고서.xlsx"


file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

# a = "hello world"

a = "hello world"
b = a.split(" ")
print(b)

In [ ]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

# ticker = "btc_krw"

ticker = "btc_krw"
print(ticker.split("_"))

In [ ]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

# date = "2020-05-01"

date = "2020-05-01"
date2 = date.split("-")
print("연:" , date2[0] )
print("월:" , date2[1] )
print("일:" , date2[2] )

In [ ]:
# 050 rstrip 메서드 important (strip의 다양한 공백제거)
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

# data = "039490     "

data = "    039490     "
print(data.strip()) #스트립은전체공백을 없애준다


print(data.rstrip()) #리스트립은 오른쪽만 공백을 없애준다


print(data.lstrip()) #리스트립은 왼쪽만 공백을 없애준다

In [ ]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
print(movie_rank)

In [ ]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank = ["닥터스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

In [ ]:
# 053           important
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

# movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

In [ ]:
# 054           important(del 이라는 방법도 있구만)
# movie_rank 리스트에서 '럭키'를 삭제하라.

# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']


movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop(3)
print(movie_rank)


movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

In [ ]:
# 055            important(del 이라는 방법도 있구만)
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

# movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']


# del을 이용하여 리스트에서 원소를 삭제할 수 있습니다. 리스트에서 어떤 값을 삭제하면 남은 값들은 새로 인덱싱됩니다. (인덱싱 번호가 당겨진다는 의미)
# 따라서 여러 값을 삭제할 때는 어떤 값이 먼저 삭제된 후 남은 원소들에 대해서 순서를 새로 고려한 후 삭제해야 합니다.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]

print(movie_rank)

In [ ]:
# 056               important(리스트를 더하면 되는구나)
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

# >> lang1 = ["C", "C++", "JAVA"]
# >> lang2 = ["Python", "Go", "C#"]
# 실행 예:
# >> langs
# ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

langs = lang1 + lang2
print(langs)

In [ ]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

# nums = [1, 2, 3, 4, 5, 6, 7]
# 실행 예:
# max:  7
# min:  1

nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

In [ ]:
# 058           important(sum도 사용가능하구만 )
# 다음 리스트의 합을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 15


nums = [1, 2, 3, 4, 5]
print(sum(nums))

In [ ]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

# cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]


cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
# 060              important(sum은 있지만, 에버러지라는 함수는 없다 )
# 다음 리스트의 평균을 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# 3.0

nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

In [ ]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

# price = ['20180728', 100, 130, 140, 150, 160, 170]
# 출력 예시:
# [100, 130, 140, 150, 160, 170]

price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [1, 3, 5, 7, 9]


nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

# nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 실행 예:
# [2, 4, 6, 8, 10]

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

# nums = [1, 2, 3, 4, 5]
# 실행 예:
# [5, 4, 3, 2, 1]

nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[::2])


interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

In [ ]:
# 066 join 메서드            important(join은 리스트의 값과 값사이를 연결해서 하나의 문자열로 해주는구나 )
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우


# '구분자'.join(리스트)를 이용하면 리스트의 값과 값 사이에 '구분자'에 들어온 구분자를 넣어서 하나의 문자열로 합쳐줍니다.
# '_'.join(['a', 'b', 'c']) 라 하면 "a_b_c" 와 같은 형태로 문자열을 만들어서 반환해 줍니다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

In [ ]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

In [ ]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

# interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

In [ ]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

# string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.

# 실행 예시
# >> print(interest)
# ['삼성전자', 'LG전자', 'Naver']


string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
# 070 리스트 정렬        important(sort는 오름차순정렬 reverse는 내림차순 정렬이다)
# 리스트에 있는 값을 오름차순으로 정렬하세요.

# data = [2, 4, 3, 1, 5, 10, 9]


# data = [2, 4, 3, 1, 5, 10, 9] #이렇게하면 안되더라 뭔지모르겠음
# print(data.sort())

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

In [ ]:
# 071           important(() = 튜플, [] = 리스트, {} = 딕셔너리)
# my_variable 이름의 비어있는 튜플을 만들라.

my_variable =()

In [ ]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키

movie_rank = ("닥터스트레인지","스플릿","럭키")
print(movie_rank)

In [ ]:
# 073           important
# 숫자 1 이 저장된 튜플을 생성하라.


# 아래와 같이 괄호와 함께 하나의 정숫값을 저장하면 튜플이 정의 될 것같지만 그렇지 않습니다. type()을 출력해보면 파이썬은 튜플이 아닌 정수로 인식합니다.
my_tuple = (1)
print(type (my_tuple))
 

# 하나의 데이터가 저장되는 경우, 아래와 같이 쉼표를 입력해만 합니다.
my_tuple = (1, )
print(my_tuple)

In [ ]:
# 074            important
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

# >> t = (1, 2, 3)
# >> t[0] = 'a'
# Traceback (most recent call last):
#   File "<pyshell#46>", line 1, in <module>
#     t[0] = 'a'
# TypeError: 'tuple' object does not support item assignment



#tuple은 원소(element)의 값을 변경할 수 없습니다.
t = (1, 2, 3)
t[0] = 'a'

In [ ]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

# t = 1, 2, 3, 4


#원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.
t = 1, 2, 3, 4
print(type(t))

In [ ]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')

# 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.

t = ('A', 'b', 'c')

In [ ]:
# 077
# 다음 튜플을 리스트로 변환하라.

# interest = ('삼성전자', 'LG전자', 'SK Hynix')

interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)

print(interest_list)

In [ ]:
# 078
# 다음 리스트를 튜플로 변경하라.

# interest = ['삼성전자', 'LG전자', 'SK Hynix']

interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = tuple(interest)

print(interest_list)

In [ ]:
# 079 튜플 언팩킹           important
# 다음 코드의 실행 결과를 예상하라.

# temp = ('apple', 'banana', 'cake')
# a, b, c = temp
# print(a, b, c)


temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

In [ ]:
# 080 range 함수            important
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)

count1000 = range(2,100,2) #이렇게하면튜플이 안되더라 음모오...
print(count1000)


count100 = tuple(range(2,100,2)) # 2이상 100미만의 범위에서 2의 스탭으로 생성
print(count100)

In [ ]:
# 081 별 표현식             important
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다.
#  튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

# >> a, b, *c = (0, 1, 2, 3, 4, 5)
# >> a
# 0
# >> b
# 1
# >> c
# [2, 3, 4, 5]



# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

# scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score,_,_, = scores
print(valid_score)

In [ ]:
# 082           important
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

# scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]


scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

In [ ]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

# scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]


scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a,*valid_score,b = scores

print(valid_score)

In [ ]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.


temp ={}

In [ ]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

dic = {"메로나":1000,"폴라포":1200,"빵빠레":1800}
print(type(dic))
print(dic)

In [ ]:
# 086   important   딕셔너리에 추가는 변수[ 키 ] = 값 로 처리한다
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름	희망 가격
# 죠스바	1200
# 월드콘	1500

dic = {"메로나":1000,"폴라포":1200,"빵빠레":1800}
dic["죠스바"] = 1200
dic["월드콘"] = 1500
print(type(dic))
print(dic)

In [ ]:
# 087           important 호출도 []로 처리
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

# ice = {'메로나': 1000,
#        '폴로포': 1200,
#        '빵빠레': 1800,
#        '죠스바': 1200,
#        '월드콘': 1500}
# 실행 예:
# 메로나 가격: 1000

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격:", ice["메로나"])

In [ ]:
# 088   important  변경도 []로 처리
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

# ice = {'메로나': 1000,
#        '폴로포': 1200,
#        '빵빠레': 1800,
#        '죠스바': 1200,
#        '월드콘': 1500}


ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300

print(ice)

In [ ]:
# 089       important 삭제할떄는 del쓰고 한칸 띄우고...
# 다음 딕셔너리에서 메로나를 삭제하라.

# ice = {'메로나': 1000,
#        '폴로포': 1200,
#        '빵빠레': 1800,
#        '죠스바': 1200,
#        '월드콘': 1500}

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice["메로나"]
print(ice)

In [ ]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

# >> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']
# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']
# KeyError: '누가바'

# 딕셔너리에 없는 키를 사용해서 인덱싱하면 에러가 발생합니다.

# >> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']

# Traceback (most recent call last):
#   File "<pyshell#69>", line 1, in <module>
#     icecream['누가바']

# KeyError: '누가바'

In [ ]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {"메로나":[300,20],
             "비비빅":[400,3],
             "죠스바":[250,100]}

print(inventory)

In [ ]:
# 092 딕셔너리 인덱싱   important 키값이 리스트형식일때는 [][] 인덱싱을 두번해 하나의 값만 출력할수 있음... 뭐냐 이건
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

# inventory = {"메로나": [300, 20],
#               "비비빅": [400, 3],
#               "죠스바": [250, 100]}
# 실행 예시:
# 300 원


inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0], "원")

In [ ]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

# inventory = {"메로나": [300, 20],
#               "비비빅": [400, 3],
#               "죠스바": [250, 100]}
# 실행 예시:
# 20 개

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

In [ ]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

# inventory = {"메로나": [300, 20],
#               "비비빅": [400, 3],
#               "죠스바": [250, 100]}
# 이름	가격	재고
# 월드콘	500	7
# 실행 예시:
# >> print(inventory)
# {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"]=[500,2] 
print(inventory)

In [ ]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

# icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

key_icecream = list(icecream.keys())

print(key_icecream)

In [ ]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

# icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
key_icecream = list(icecream.values())
print(key_icecream)

In [ ]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

# icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# 출력 예시:
# 6700


icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

print(sum(list(icecream.values())), "총합은 원이다")

print(sum(icecream.values()))

In [ ]:
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

# icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# new_product = {'팥빙수':2700, '아맛나':1000}
# 실행 예시:
# >> print(icecream)
# {'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print(icecream)

In [ ]:
# 099 zip과 dict            important
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

# keys = ("apple", "pear", "peach")
# vals = (300, 250, 400)
# 실행 예시:
# >> print(result)
# {'apple': 300, 'pear': 250, 'peach': 400}


keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

new = dict(zip(keys,vals))
print(new)

In [ ]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

# date = ['09/05', '09/06', '09/07', '09/08', '09/09']
# close_price = [10500, 10300, 10100, 10800, 11000]
# 실행 예시:
# >> print(close_table)
# {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date,close_price))
print(close_table)

In [ ]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

#불타입

In [ ]:
# 102
# 아래 코드의 출력 결과를 예상하라

# print(3 == 5)

print(3 == 5)
#폴스

In [ ]:
# 103
# 아래 코드의 출력 결과를 예상하라

# print(3 < 5)

print(3 < 5)
#트루

In [ ]:
# 104
# 아래 코드의 결과를 예상하라.

# x = 4
# print(1 < x < 5)



x = 4
print(1 < x < 5)
#트루

In [ ]:
# 105
# 아래 코드의 결과를 예상하라.

# print ((3 == 3) and (4 != 3))

print ((3 == 3) and (4 != 3))
#트루

In [ ]:
# 106
# 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

# print(3 => 4)

print(3 >= 4)

#위치가 바뀌였다

In [ ]:
# 107
# 아래 코드의 출력 결과를 예상하라

# if 4 < 3:
#     print("Hello World")


if 4 < 3:
    print("Hello World")

#출력되지 않음 참값이 아님

In [ ]:
# 108
# 아래 코드의 출력 결과를 예상하라

# if 4 < 3:
#     print("Hello World.")
# else:
#     print("Hi, there.")

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

#하이데어가 출력됨

In [ ]:
# 109
# 아래 코드의 출력 결과를 예상하라

# if True :
#     print ("1")
#     print ("2")
# else :
#     print("3")
# print("4")

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

#1 , 2 , 4

In [ ]:
# 110
# 아래 코드의 출력 결과를 예상하라

# if True :
#     if False:
#         print("1")
#         print("2")
#     else:
#         print("3")
# else :
#     print("4")
# print("5")




if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")


# 5 아하...트루문실행에서 이프펄스니까 트루일때니까 3이 나오는구만...

In [ ]:
# 111
# 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

# >> 안녕하세요
# 안녕하세요안녕하세요

put_value = input(">>>")
print(put_value*2)

In [ ]:
# 112
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

# >> 숫자를 입력하세요: 30
# 40

put_value = input(">>>")
print(int(put_value) + 10)

In [ ]:
# 113
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

# >> 30
# 짝수

put_value = input(">>>")
if int(put_value)%2 == 0: # %는 나머지 연산자 이다
    print("짝수")
else:
    print("홀수")

In [ ]:
# 114
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

# >> 입력값: 200
# 출력값: 220
# >> 입력값: 240
# 출력값: 255

put_value = input(">>>")
put_value_2 = int(put_value) + 20
if put_value_2 > 255:
    print(255)
else:
    print(put_value_2)

In [ ]:
# 115
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

# >> 입력값: 200
# 출력값: 180
# >> 입력값: 15
# 출력값: 0


put_value = input(">>>")
put_value_2 = int(put_value) - 20

if put_value_2 > 255:
    print(255)
elif put_value_2 < 0:
    print(0)
else:
    print(put_value_2)

In [ ]:
# 116 important 인덱싱을 쓰다니 생각못했네
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.

# >> 현재시간:02:00
# 정각 입니다.
# >> 현재시간:03:10
# 정각이 아닙니다

time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

In [ ]:
# 117       important   아.. in이 있구나.. 몰랐네
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

# fruit = ["사과", "포도", "홍시"]
# >> 좋아하는 과일은? 사과
# 정답입니다.

fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

In [ ]:
# 118
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

# warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

user = input("투자종목:")
user2 = user.capitalize()
if user2 in warn_investment_list:
    print("투자경고 종목입니다.")
else:
    print("투자경고 종목이 아닙니다.")

In [ ]:
# 119
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

# fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
# >> 제가좋아하는계절은: 봄
# 정답입니다.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은? >>")

if user in fruit:
    print("정답입니다")
else:
    print("오답입니다")

In [ ]:
# 120
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

# fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
# >> 좋아하는과일은? 한라봉
# 오답입니다.


fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 과일은? >>")

if user in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

In [ ]:
# 121
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

# >> a
# A
# 힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다. 
# 힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

user = input(">>>")
if user.isupper():
    print(user.lower())
else:
    print(user.upper())

In [ ]:
# 122       important 존나 어려운 방법으로 접근해버렸음 ;;
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

In [ ]:
# 123
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라.
# 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

# >> 입력: 100 달러
# 116700.00 원

#--- 내풀이
# exchange = {"달러" : 1167,
#             " 엔": 1.096,
#             "유로": 1268,
#             "위안": 171}

# userinput = input("입력:ex(100 달러)")

# userinput_contry = userinput[-2:]

# userinput_price = int(userinput[:userinput.find(" ")])

# if userinput_contry in exchange:
#     print("{0:.2f}".format(userinput_price * exchange[userinput_contry]))
# else:
#     print("환율정보 없음")

#---해답
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
        
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

In [ ]:
# 124
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

# >> input number1: 10
# >> input number2: 9
# >> input number3: 20
# 20

#내풀이
userinput1 = int(input("1>>>"))
userinput2 = int(input("2>>>"))
userinput3 = int(input("3>>>"))
li_userinput = [userinput1,userinput2,userinput3]

print(max(li_userinput))


#해답
# num1 = input("input number1: ")
# num2 = input("input number2: ")
# num3 = input("input number3: ")
# num1 = int(num1)
# num2 = int(num2)
# num3 = int(num3)

# if num1 >= num2 and num1 >= num3:
#     print(num1)
# elif num2 >= num1 and num2 >= num3:
#     print(num2)
# else:
#     print(num3)

In [ ]:
# 125
# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

# 번호	통신사
# 011	SKT
# 016	KT
# 019	LGU
# 010	알수없음
# >> 휴대전화 번호 입력: 011-345-1922
# 당신은 SKT 사용자입니다.


#내가풀이
# 변수를 지정할떄 10진수의경우 0으로 시작하는 번호는 없음 따라서 zfill 이나, 문자열로 묶어야함
# telecoms = {"SKT": "011" , 
#         "KT": "016", 
#         "LGU": "019", 
#         "알수없음": "010"}

# phoneinput = input("휴대전화번호 입력>>>")
# indexingPH = phoneinput[:3]

# if indexingPH in telecoms.values():
#     print(telecoms.get(indexingPH)) # 오류 ;; 밸류값으로 키값을 찾을수는 없는구조다... 딕셔너리를 리버스 하는경우는 가능하지만...추천안함
# else:
#     print("없음")

#해답
# number = input("휴대전화 번호 입력: ")
# num = number.split("-")[0]
# if num == "011":
#     com = "SKT"
# elif num == "016":
#     com = "KT"
# elif num == "019":
#     com = "LGU"
# else:
#     com = "알수없음"
# print(f"당신은 {com} 사용자입니다.")

In [ ]:
# 126
# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

# -	        0	1	    2	    3	    4	    5	    6	    7	    8   	9
# 01	강북구	강북구	 강북구	 도봉구	 도봉구	 도봉구  노원구	 노원구     노원구	노원구
# 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

# >> 우편번호: 01400
# 도봉구


#내가품
userinput = input("우편번호 5자리 입력>>>")
userinput_chang = userinput[:3]

if userinput_chang == "010" or userinput_chang == "011" or userinput_chang == "012": #userinput_chang == 010 or 011 or 012 문장, or은 불타입이기에 userinput문자열이 010문자열또는 011문자열 또는 012문자열 인지 확인하는거다..
     print("깅북구")   
elif userinput_chang == "013" or userinput_chang == "014" or userinput_chang == "015":
     print("도봉구")
else:
     print("노원구")

# #해답
# 우편번호 = input("우편번호: ")
# 우편번호 = 우편번호[:3]
# if 우편번호 in ["010", "011", "012"]:
#     print("강북구")
# elif 우편번호 in ["014", "015", "016"]:
#     print("도봉구")
# else:
#     print("노원구")

In [ ]:
# 127
# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

# >> 주민등록번호: 821010-1635210
# 남자

#내가푼답
# enrollmantNo = input("주민번호(11111-11111)>>>")
# TT = enrollmantNo.split("-")
# if TT[1] in ["1","3"]:
#     print("남자")
# else:
#     print("여자")

#해답

주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

In [ ]:
# 128
# 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

# 지역코드	출생지
# 00 ~ 08	서울
# 09 ~ 12	부산
# >> 주민등록번호: 821010-1635210
# 서울이 아닙니다.
# >> 주민등록번호: 861010-1015210
# 서울 입니다.

주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
주민번호 = 주민번호[1:3]
if 주민번호 in ["00","01","02","03","04","05","06","07","08"]:
    print("서울")
else:
    print("부산")    

# #해답

# 주민번호 = input("주민등록번호: ")
# 뒷자리 = 주민번호.split("-")[1]
# if 0 <= int(뒷자리[1:3]) <= 8:
#     print("서울입니다.")
# else:
#     print("서울이 아닙니다.")

In [ ]:
# 129
# 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다.
#  먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

#   8 2 1 0 1 0 - 1 6 3 5 2 1 0
# x 2 3 4 5 6 7   8 9 2 3 4 5 
# -----------------------------
# 1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
# 2차 계산: 11 -7 = 4
# 위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

# 다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

# >> 주민등록번호: 821010-1635210
# 유효하지 않은 주민등록번호입니다. 
list_input = []

num = input("주민번호 입력>>>")

i = 0
while True:
     list_input.append(num[i])
     i = i + 1
     if i == 14:
         break

list_input.remove("-")



list_multiply = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]

list2 = []

for x in [0,1,2,3,4,5,6,7,8,9,10,11]:

    cal = int(list_input[x]) * int(list_multiply[x])
    list2.append(cal)
cal_1 = sum(list2) % 11
cal_2 = 11 - cal_1

if cal_2 == int(num[-1]):
    print("유효")
else:
    print("불효")


#해답
# num = input("주민등록번호: ")
# 계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
#         int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
#         int(num[11])* 4 + int(num[12]) * 5
# 계산2 = 11 - (계산1 % 11)
# 계산3 = str(계산2)

# if num[-1] == 계산3[-1]:
#     print("유효한 주민등록번호입니다.")
# else:
#     print("유효하지 않은 주민등록번호입니다.")

In [ ]:
# 130
# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

# import requests
# btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

# Key Name	Description
# opening_price	최근 24시간 내 시작 거래금액
# closing_price	최근 24시간 내 마지막 거래금액
# min_price	최근 24시간 내 최저 거래금액
# max_price	최근 24시간 내 최고 거래금액


import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

start_price = int(btc["opening_price"])	
end_price = int(btc["closing_price"])	
change_price = int(btc["min_price"])	- int(btc["max_price"])

if start_price + change_price >= int(btc["max_price"]):
    print("상승장")
else:
    print("하락장")

# 해답	
# import requests
# btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# 변동폭 = float(btc['max_price']) - float(btc['min_price'])
# 시가 = float(btc['opening_price'])
# 최고가 = float(btc['max_price'])

# if (시가+변동폭) > 최고가:
#     print("상승장")
# else:
#     print("하락장")

In [ ]:
# 131
# for문의 실행결과를 예측하라.

# 과일 = ["사과", "귤", "수박"]
# for 변수 in 과일:
#     print(변수)


과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

In [ ]:
# 132
# for문의 실행결과를 예측하라.

# 과일 = ["사과", "귤", "수박"]
# for 변수 in 과일:
#   print("#####")

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

In [ ]:
# 133
# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

# for 변수 in ["A", "B", "C"]:
#   print(변수)


for 변수 in ["A", "B", "C"]:
  print(변수)

In [ ]:
# 134
# for문을 풀어서 동일한 동작을하는 코드를 작성하라.

# for 변수 in ["A", "B", "C"]:
#   print("출력:", 변수)

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)


변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

In [ ]:
# 135
# for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

# for 변수 in ["A", "B", "C"]:
#   b = 변수.lower()
#   print("변환:", b)


for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)


변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

In [ ]:
# 136
# 다음 코드를 for문으로 작성하라.

# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)

for 변수 in [10,20,30]:
    print(변수)


# 반복되는 코드는 들여쓰기로 표현하고 for문에서 변하는 부분을 기술해 줍니다.

# for 변수 in [10, 20, 30]:
#   print(변수)
# 다음과 같이 리스트 변수에 데이터를 바인딩하고, 변수를 for문의 자료구조 자리에 넣어줘도 됩니다.

# 리스트 = [10, 20, 30]
# for 변수 in 리스트:
#   print(변수)

In [ ]:
# 137
# 다음 코드를 for문으로 작성하라.

# print(10)
# print(20)
# print(30)

for 변수 in [10,20,30]:
    print(변수)

In [ ]:
# 138
# 다음 코드를 for문으로 작성하라.

# print(10)
# print("-------")
# print(20)
# print("-------")
# print(30)
# print("-------")

for 변수 in [10,20,30]:
    print(변수)
    print("-------")

In [ ]:
# 139
# 다음 코드를 for문으로 작성하라.

# print("++++")
# print(10)
# print(20)
# print(30)

print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

In [1]:
# 140
# 다음 코드를 for문으로 작성하라.

# print("-------")
# print("-------")
# print("-------")
# print("-------")

for i in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

In [4]:
# 141
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

# 리스트 = [100, 200, 300]
# 110
# 210
# 310


리스트 = [100, 200, 300]
for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [5]:
# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

# 리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

리스트 = ["김밥", "라면", "튀김"]
for 변수 in 리스트:
    print("오늘의 메뉴:",변수)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [6]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

# 리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 변수 in 리스트:
    print(len(변수))

6
4
4

In [7]:
# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6

리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수, len(변수))

dog 3
cat 3
parrot 6

In [8]:
# 145
# 리스트에 동물 이름 저장돼 있다.

# 리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p

리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수[0])

d
c
p

In [10]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3

리스트 = [1, 2, 3]

for 변수 in 리스트:
    print(리스트[-1] ,"X",변수)

3 X 1
3 X 2
3 X 3

In [11]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

# 리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

리스트 = [1, 2, 3]
for 변수 in 리스트:
    print(3,"x",변수,"=",3*변수)


# 1장에서 배운 문자열 함수를 활용하면 코드가 더욱 읽기 쉬워집니다.

# 리스트 = [1, 2, 3]
# for 변수 in 리스트:
#   print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [12]:
# 148   important 리스트도 인덱싱 할수 있다..
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
  print(변수)

나
다
라

In [13]:
# 149       important    아...이거 스발 0:0:0 이였네 방법은 기억났는데 문장이 기억안남
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[::2]:
    print(변수)

가
다

In [14]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

# 리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

리스트 = ["가", "나", "다", "라"]


for 변수 in 리스트[::-1]:
    print(변수)

라
다
나
가